/* file import */

@import 'variables';
@import 'mixins';

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    font-size: 1.5rem;
    background: $highlight-primary;
    color: $primary-color;
    box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);
    border-bottom: 1 px solid $highlight-primary;
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    .logo {
        display: grid;
        place-content: center;
        padding: 0rem 1rem;
        color: $highlight-primary;

        i {
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            padding: 0.25rem;
            background-color: $highlight-primary;
            color: $primary-color;
        }
    }

    ul {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        grid-template-rows: 1fr;
        gap: 0.5rem;
        padding: 0rem 1.5rem;
        list-style-type: none;

        li {
            display: grid;
            padding: 0.5rem;
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: 0rem 1.5rem;
        border-radius: 0.25rem;
        color: $primary-color;
        background-color: rgba(0, 0, 0, 0.1);
        text-decoration: none;
        transition: background-color $transition;

        i {
            margin-right: 0.5rem;
            color: $highlight-primary;
            font-size: 1rem;
            transition: color $transition;
        }

        &:hover {
            background-color: $highlight-primary;

            i {
                color: $primary-color;
            }
        }
    }
}

